[submodule "themes/hugo-blox-builder"]
	path = themes/hugo-blox-builder
	url = https://github.com/HugoBlox/hugo-blox-builder.git
[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
